include:
  - project: hpc/gitlab-pipelines
    file:
      - spack-build-components.gitlab-ci.yml
      - github-project-pipelines.gitlab-ci.yml

stages:
    - .pre
    - build
    - test
    - build_neuron
    - test_neuron

# Set up Spack
spack_setup:
  extends: .spack_setup_ccache
  variables:
    # Enable fetching GitHub PR descriptions and parsing them to find out what
    # branches to build of other projects.
    PARSE_GITHUB_PR_DESCRIPTIONS: "true"
  script:
    - !reference [.spack_setup_ccache, script]
    # This allows us to use the CoreNEURON repository in regression tests of
    # the gitlab-pipelines repositories. The regression test pipeline triggers
    # *this* pipeline as a child, having pushed a modified branch to the GitLab
    # mirror of the CoreNEURON repository. We have to update the Spack recipe
    # to point at the GitLab mirror so the relevant commit (on the modified
    # branch) can be found.
    - if [[ "${CI_PIPELINE_SOURCE}" == "pipeline" ]]; then
    - cd $(spack location -p coreneuron)
    - sed -i -e 's#\(git\s*=\s\)"https://github.com/BlueBrain/CoreNeuron"#\1"git@bbpgitlab.epfl.ch:hpc/coreneuron.git"#' package.py
    - git diff
    - fi

.spack_intel:
  variables:
    SPACK_PACKAGE_COMPILER: intel
.spack_nvhpc:
  variables:
    SPACK_PACKAGE_COMPILER: nvhpc
.spack_neuron:
  variables:
    SPACK_PACKAGE: neuron
    SPACK_PACKAGE_REF: ''
    SPACK_PACKAGE_SPEC: +coreneuron+debug+tests~legacy-unit

build:nmodl:intel:
  variables:
    SPACK_PACKAGE: nmodl
    SPACK_PACKAGE_SPEC: ~legacy-unit
  extends:
    - .spack-build
    - .spack-intel

build:coreneuron+nmodl:intel:
  variables:
    SPACK_PACKAGE: coreneuron
    SPACK_PACKAGE_SPEC: +nmodl+tests~legacy-unit build_type=Debug
  extends:
    - .spack_build
    - .spack_intel
  needs: ["build:nmodl:intel"]

build:coreneuron:intel:
  variables:
    SPACK_PACKAGE: coreneuron
    SPACK_PACKAGE_SPEC: +tests~legacy-unit build_type=Debug
  extends:
    - .spack_build
    - .spack_intel

build:coreneuron:gpu:
  variables:
    SPACK_PACKAGE: coreneuron
    # +report pulls in a lot of dependencies and the tests fail.
    # See https://github.com/BlueBrain/CoreNeuron/issues/518 re: build_type
    SPACK_PACKAGE_SPEC: +gpu+tests~legacy-unit~report build_type=RelWithDebInfo
  extends:
    - .spack_build
    - .spack_nvhpc

test:coreneuron+nmodl:intel:
  extends: [.ctest]
  needs: ["build:coreneuron+nmodl:intel"]

test:coreneuron:intel:
  extends: [.ctest]
  needs: ["build:coreneuron:intel"]

test:coreneuron:gpu:
  extends:
    - .ctest
  variables:
    # GPU tests need to run on nodes with GPUs.
    bb5_constraint: volta
  needs: ["build:coreneuron:gpu"]

build:neuron+nmodl:intel:
  stage: build_neuron
  extends:
    - .spack_build
    - .spack_neuron
    - .spack_intel
  needs: ["build:coreneuron+nmodl:intel"]

build:neuron:intel:
  stage: build_neuron
  extends:
    - .spack_build
    - .spack_neuron
    - .spack_intel
  needs: ["build:coreneuron:intel"]

build:neuron:gpu:
  stage: build_neuron
  extends:
    - .spack_build
    - .spack_neuron
    - .spack_nvhpc
  before_script:
    # Build py-cython and py-numpy with GCC instead of NVHPC.
    - SPACK_PACKAGE_DEPENDENCIES="${SPACK_PACKAGE_DEPENDENCIES}^py-cython%gcc^py-numpy%gcc"
    - !reference [.spack_build, before_script]
  needs: ["build:coreneuron:gpu"]

test:neuron+nmodl:intel:
  stage: test_neuron
  extends: [.ctest]
  needs: ["build:neuron+nmodl:intel"]

test:neuron:intel:
  stage: test_neuron
  extends: [.ctest]
  needs: ["build:neuron:intel"]

test:neuron:gpu:
  stage: test_neuron
  extends: [.ctest]
  variables:
    # GPU tests need to run on nodes with GPUs.
    bb5_constraint: volta
  needs: ["build:neuron:gpu"]
